@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #fff;
    background: #ddffdd;
}

.main-nav {
    color: #333333;
}

.main-content {
    margin: 0 2%;
    background-color: #ff9999;
}

.event {
    background: #9999ff;
    margin: 1em;
}

a, a:visited {
	text-decoration:none;
}

h1 {
	font-size: 32px;
	margin: 16px 0 0 0;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

li {
	display: inline;
}